<div class="login">
  <form [formGroup]="form">
    <div class="imgcontainer">
      <img src="/../../assets/img/logo-home.png" alt="Avatar" class="avatar">
    </div>

    <div class="container bem-vindo">
      BEM-VINDO AO EMPRESAS
    </div>
    <div class="container lorem">
      Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.
    </div>
    
    <div class="container">
      <input type="text" placeholder="E-mail" name="email" formControlName="email" required>
      <input type="password" placeholder="Senha" name="password" formControlName="password" required>
    </div>
    <div class="botao-login">
      <button (click)='login()' type="submit">Entrar</button>
    </div>
  </form> 
</div>
