/* Centraliza verticalmente e horizontalmente o forms */
.login {
  margin: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Inputs */

input[type=text], input[type=password] {
  width: 100%;
  display: block;
  background: none;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #383743; 
  margin-top: 5%;
}

input[placeholder="E-mail"], input[placeholder="Senha"] {
  color: #383743;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

input[type=text] {
  background-image: url('/../../assets/img/ic-email.svg');
  background-repeat: no-repeat;
  padding-left: 10%;
  padding-bottom: 2%;
}

input[type=password] {
  background-image: url('/../../assets/img/ic-cadeado.svg');
  background-repeat: no-repeat;
  padding-left: 10%;
  padding-bottom: 2%;
}

/* Texto do login */
.bem-vindo{
  width: 252px;
  height: 64px;
  font-family: Roboto;
  font-size: 1.4em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #383743;
  padding: 0;
  margin-top: 15%;
  padding-bottom: 20%
}

.lorem {
  width: 357.7px;
  height: 52px;
  font-family: Roboto;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.3px;
  text-align: center;
  color: #383743;
  padding: 0;
  margin-bottom: 8%;
}

/* Botão login */
button {
  width: 80%;
  background-color: #57bbbc;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 3.6px;
}

.botao-login {
  margin-top: 9%;
}

button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 80%;
}

@media (max-width:319px) {
  img.avatar {
    width: 60%;
  }

  .lorem {
    width: 250px;
    height: 52px;
  }
}

@media (min-width:320px) { 
  img.avatar {
    width: 70%;
  }

  .lorem {
    width: 300px;
    height: 52px;
  }
}
