.card-img-top {
  padding: 3%;
}

.card {
  margin: 2%;
}

.card-text {
  font-size: 1em;;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #8d8c8c;
  padding-left: 2%;
}