<app-search-bar></app-search-bar>
<div class="container-fluid">
  <div class="card">
      <img class="card-img-top" src="/../../assets/img/img-e-1-view.svg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
</div>