<nav class="navbar navbar-expand-sm justify-content-center">
    <img *ngIf="show" src="/../../assets/img/logo-nav.png" alt="Logo" class="logo-nav mx-auto">
    <div class="navbar-right">
      <form class="form-inline" action="">
        <input *ngIf="!show" class="form-control mr-sm-2" type="text" placeholder="Pesquisar">
        <button (click)="show = !show" *ngIf="show" class="btn btn-success" type="">
          <img src="/../../assets/img/ic-search-copy.svg" alt="Pesquisar" class="search-icon">
        </button>
      </form>
    </div>
</nav>