nav {
  background-image: linear-gradient(173deg, #ee4c77, #BB3C67);
}

.logo-nav {
  width: 15%;
  height: auto;
  object-fit: contain;
}

button {
  background: none;
  outline: 0;
  border-width: 0;
  border-radius: 0;
}

button:hover {
  background: none;
  outline: 0;
  border-width: 0;
  border-radius: 0;
}

input[type=text] {
  width: 100%;
  display: block;
  background: none;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #FFF; 
  margin-top: 5%;
}

input[type=text] {
  background-size: 19%;
  background-image: url('/../../assets/img/ic-search-copy.svg');
  background-repeat: no-repeat;
  padding-left: 20%;
  padding-bottom: 2%;
  cursor: pointer;
}

input[placeholder="Pesquisar"] {
  font-family: Roboto;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #991237;
}

@media (min-width:320px) { 
  .logo-nav {
    width: 50%;
  }

  .search-icon {
    width: 80%;
  }
}
@media (min-width:480px) { 
  .logo-nav {
    width: 40%;
  }
}
@media (min-width:600px) { 
  .logo-nav {
    width: 30%;
  }
}
@media (min-width:801px) { 
  .logo-nav {
    width: 20%;
  }
}
@media (min-width:1050px) { 
  .logo-nav {
    width: 15%;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }