.card {
  margin: 2%;
}

.card-img {
  padding: 10%;
}

.card-body {
  padding-top: 4%;
}

.card-title {
  font-size: 1.7em;
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a0e49;
}

.card-subtitle {
  font-family: Roboto;
  font-size: 1.3em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8d8c8c;
}

.card-subtitle-country {
  font-family: Roboto;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8d8c8c;
  margin-top: 0.5%;
}

button {
  background: none;
  outline: 0;
  border-width: 0;
  border-radius: 0;
  margin-left: 0;
  padding-left: 0;
}

button:hover {
  background: none;
  outline: 0;
  border-width: 0;
  border-radius: 0;
  cursor: pointer;
  margin-left: 0;
  padding-left: 0;
}

@media (min-width:320px) {


  .card-title {
    font-size: 1.3em;
  }

  .card-subtitle {
    font-size: 1em;
  }

  .card-subtitle-country {
    font-size: 0.8em;
    margin-top: 2%;
  }
}
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }