<div class="container-fluid">
  <div class="card">
      <div class="row">
        <div class="col-md-3 col-6">
          <img class="card-img" src="/../../assets/img/img-e-1-lista.svg" alt="Card image cap">
        </div>
        <div class="card-body col-md-9 col-6">
          <button (click)='viewCard()' class="card-title">Empresa1</button>
          <p class="card-subtitle">Negócio</p>
          <p class="card-subtitle-country">Brasil</p>
        </div>
    </div>
  </div>
</div>
